<div class="row">
    <div class="col-lg-12">
        <h6 class="mt-4">Countries With The Highest Total Confirmed COVID-19 Cases In {{ formatDate(filterDate) }}</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-bar-vertical
                [view]="view"
                [results]="dataViewConfirm"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'Confirm COVID-19 Cases'"
                (select)="handleChartSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="col-lg-12">
        <label class="form-label">Date: <b>{{ formatDate(filterDate) }}</b></label>
        <input 
            (change)="handleRangeChange()"
            [(ngModel)]="filterDateRange"
            type="range" 
            class="form-range" 
            min="{{ rangeMin }}" 
            max="{{ rangeMax }}">
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-4">
            <input type="date" class="form-control" [(ngModel)]="filterInputDate">
            <button (click)="handleDateSubmit()" class="btn btn-outline-secondary" type="submit">View</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h6 class="mt-4">Countries With The Highest Total Death From COVID-19 In {{ formatDate(filterDate) }}</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-bar-vertical
                [view]="view"
                [results]="dataViewDeath"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'Death from COVID-19'"
                (select)="handleChartSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="col-lg-12">
        <label class="form-label">Date: <b>{{ formatDate(filterDate) }}</b></label>
        <input 
            (change)="handleRangeChange()"
            [(ngModel)]="filterDateRange"
            type="range" 
            class="form-range" 
            min="{{ rangeMin }}" 
            max="{{ rangeMax }}">
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-4">
            <input type="date" class="form-control" [(ngModel)]="filterInputDate">
            <button (click)="handleDateSubmit()" class="btn btn-outline-secondary" type="submit">View</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h6 class="mt-4">Countries With The Highest Number Of COVID-19 Vaccination Jabs In {{ formatDate(filterDate) }}</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-bar-vertical
                [view]="view"
                [results]="dataViewVaccinated"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'COVID-19 Vaccination Jabs'"
                (select)="handleChartSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="col-lg-12">
        <label class="form-label">Date: <b>{{ formatDate(filterDate) }}</b></label>
        <input 
            (change)="handleRangeChange()"
            [(ngModel)]="filterDateRange"
            type="range" 
            class="form-range" 
            min="{{ rangeMin }}" 
            max="{{ rangeMax }}">
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-4">
            <input type="date" class="form-control" [(ngModel)]="filterInputDate">
            <button (click)="handleDateSubmit()" class="btn btn-outline-secondary" type="submit">View</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h6 class="mt-4">Countries With The Highest Number Of Fully Vaccinated Population For COVID-19 In {{ formatDate(filterDate) }}</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-bar-vertical
                [view]="view"
                [results]="dataViewFullyVaccinated"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'Fully Vaccinated from COVID-19'"
                (select)="handleChartSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="col-lg-12">
        <label class="form-label">Date: <b>{{ formatDate(filterDate) }}</b></label>
        <input 
            (change)="handleRangeChange()"
            [(ngModel)]="filterDateRange"
            type="range" 
            class="form-range" 
            min="{{ rangeMin }}" 
            max="{{ rangeMax }}">
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-4">
            <input type="date" class="form-control" [(ngModel)]="filterInputDate">
            <button (click)="handleDateSubmit()" class="btn btn-outline-secondary" type="submit">View</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h6 class="mt-4">Countries With The Highest Percentage Of Fully Vaccinated Individuals For COVID-19 In {{ formatDate(filterDate) }}</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-bar-vertical
                [view]="view"
                [results]="dataViewFullyVaccinatedPercentage"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'% Fully Vaccinated from COVID-19'"
                (select)="handleChartSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="col-lg-12">
        <label class="form-label">Date: <b>{{ formatDate(filterDate) }}</b></label>
        <input 
            (change)="handleRangeChange()"
            [(ngModel)]="filterDateRange"
            type="range" 
            class="form-range" 
            min="{{ rangeMin }}" 
            max="{{ rangeMax }}">
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-4">
            <input type="date" class="form-control" [(ngModel)]="filterInputDate">
            <button (click)="handleDateSubmit()" class="btn btn-outline-secondary" type="submit">View</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br/>
        <br/>
        <br/>
    </div>
</div>
  
  