
<nav class="navbar navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="./">11001 - IT350 COVID-19 Data Analytics</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">

            <div *ngIf="!isDataLoaded" class="text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div *ngIf="isDataLoaded">
                <h5>I. Overview</h5>
                <section-alpha 
                    [dateRange] = "dateRange"
                    [data]="data">
                </section-alpha>
            </div>

        </div>
    </div>
</div>